@import './variables.scss';

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App__pauses {
    position: relative;
}

.App__pauses__container {
    flex: 1 1;
    width: 100%;
    background: $background;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    padding-left: $padding;

    & > span {
        color: $textColor;
        text-transform: uppercase;
        font-size: 65px;
        font-weight: 800;
    }

    &:first-child {
        padding-top: $padding;
        padding-bottom: $padding;
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
    }

    &:last-child {
        z-index: -1;
        left: 0;
        position: absolute;
        background: $gradient;
        bottom: -$borderSize;
        height: $borderSize * 2;
    }
}
