$blue: #61a8ff;
$purple: #ee7cfe;
$orange: #ffbaa9;
$gradient: linear-gradient(135deg, $blue 0%, $purple 50%, $orange 100%);

$padding: 50px;
$borderSize: 20px;
$borderRadius: 25px;

$background: #251c2b;
$textColor: #ffffff;
